In [1]:
import pywhatkit as kit
import pandas as pd
import time

In [3]:
# Lead contact list
# df = pd.read_excel("TEST.xlsx")
df = pd.read_excel("DAPEG 15 OCT 2025.xlsx")

In [4]:
df = df.drop(df.index[-1])

In [5]:
df

,No,Nama,Name,Panggilan,Column3,Gender,Column2,Usia (tahun),Message,Phone,Column1,Column12
0,2,EVANDA CATUR SAPUTRA,Evanda Catur Saputra,Putra,Evanda+Catur+Saputra,Male,Islam,25,_Assalamualaikum Warahmatullahi Wabarakatuh_\n...,+6281217788473,'081217788473,NaN
1,3,SALSABILA ZAHRAH,Salsabila Zahrah,Salsa,Salsabila+Zahrah,Female,Islam,25,_Assalamualaikum Warahmatullahi Wabarakatuh_\n...,+6285717039964,'085717039964,NaN
2,4,MUHAMMAD RIFQI HANANDA,Muhammad Rifqi Hananda,Rifqi,Muhammad+Rifqi+Hananda,Male,Islam,25,_Assalamualaikum Warahmatullahi Wabarakatuh_\n...,+6281229619336,'081229619336,NaN
3,5,MUSLIM TANJUNG,Muslim Tanjung,Tanjung,Muslim+Tanjung,Male,Islam,55,_Assalamualaikum Warahmatullahi Wabarakatuh_\n...,+6282169682911,'082114259074 | 082169682911,NaN
4,6,ISMAELIA ISKANDAR,Ismaelia Iskandar,Aji,Ismaelia+Iskandar,Male,Islam,55,_Assalamualaikum Warahmatullahi Wabarakatuh_\n...,+6282170211600,'08126613887,6.282170e+12
...,...,...,...,...,...,...,...,...,...,...,...,...
92,94,ADILLA AULIA,Adilla Aulia,NaN,Adilla+Aulia,Female,Islam,27,_Assalamualaikum Warahmatullahi Wabarakatuh_\n...,+6281268153703,'081268153703 | 085388795902,NaN
93,95,RANI SUSANTI,Rani Susanti,NaN,Rani+Susanti,Female,Islam,27,_Assalamualaikum Warahmatullahi Wabarakatuh_\n...,+6281378105378,'081378105378,NaN
94,96,FAUZAN JAMAL,Fauzan Jamal,NaN,Fauzan+Jamal,Male,Islam,27,_Assalamualaikum Warahmatullahi Wabarakatuh_\n...,+6282383984473,'082383984473,NaN
95,97,DIMAS ARYA DEWANGGA,Dimas Arya Dewangga,NaN,Dimas+Arya+Dewangga,Male,Islam,27,_Assalamualaikum Warahmatullahi Wabarakatuh_\n...,+6282329697699,'082329697699,NaN
96,98,WENO MARIONA,Weno Mariona,NaN,Weno+Mariona,Male,Islam,26,_Assalamualaikum Warahmatullahi Wabarakatuh_\n...,+6282268737585,'082268737585,NaN

In [ ]:
for index, col in df.iterrows():
    # print(f'{index+1}. {col["Name"]}')
    # print(f'Phone Number: {col["Phone"]}')
    # print(f'Message: \n{col["Message"]}\n
    
    # phone = col["Phone"]
    # if not phone.startswith("+"):
    #     phone = "+" + phone
    #     print(phone)
    kit.sendwhatmsg_instantly(col["Phone"],col["Message"],15, True, 2)